@import './variables';

.toolbar,
.settings-bar {
  height: $toolbar-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  z-index: 1000;

  &__btn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
  }

  .brush {
    background: url('../images/brush.svg') no-repeat center center;
  }
  .rect {
    background: url('../images/rect.svg') no-repeat center center;
  }
  .circle {
    background: url('../images/circle.svg') no-repeat center center;
  }
  .eraser {
    background: url('../images/eraser.svg') no-repeat center center;
  }
  .line {
    background: url('../images/line.svg') no-repeat center center;
  }
  .undo {
    margin-left: auto;
    background: url('../images/undo.svg') no-repeat center center;
  }
  .redo {
    background: url('../images/redo.svg') no-repeat center center;
  }
  .save {
    background: url('../images/save.svg') no-repeat center center;
    margin-right: 10px;
  }
}

.settings-bar {
  display: flex;
  align-items: center;
  top: $toolbar-height;
  z-index: 100;
  gap: 20px;

  label {
    display: flex;
    align-items: center;

    input {
      margin-left: 8px;
    }
  }
}
